{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "Safari 10"
          ]
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}
